extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('entities.id')
        th= t('views.users.fullName')
        th= t('entities.user.email')
        th= t('entities.createdAt')
        th
    tbody
      each user in users
        tr
          td= user.id
          td= user.name
          td= user.email
          td= formatDate(user.createdAt)
          td
            a(href=route('editUser', { id: user.id }))=t('views.edit')
            +formFor()(action=route('deleteUser', { id: user.id }) method="post")
              input(name="_method" type="hidden" value="delete")
              input(class='btn btn-link' type='submit' value=t('views.delete'))
