extends ../layouts/application.pug

block content
  a.nav-link(role='link' href=route('newStatus'))=t('views.statuses.newLink')
  table.table.table-striped
    thead
      tr
        th= t('entities.status.id')
        th= t('entities.status.name')
        th= t('entities.status.createdAt')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td
            a(href=route('editStatus', { id: status.id }))=t('views.edit')
            +buttonTo(
              route('deleteStatus', { id: status.id }),
              'delete'
            )(class='btn btn-link' value=t('views.delete'))
