extends ../layouts/application.pug

block content
  a.btn.btn-primary.mb-3(role='button' href=route('newLabel'))=t('views.labels.newLink')
  table.table.table-striped
    thead
      tr
        th= t('views.labels.id')
        th= t('views.labels.name')
        th= t('views.labels.createdAt')
    tbody
      each label in labels
        tr
          td= label.id
          td= label.name
          td= formatDate(label.createdAt)
          td
            a(href=route('editLabel', { id: label.id }))=t('views.labels.editLink')
            +formFor()(action=route('deleteLabel', { id: label.id }) method="post")
              input(name="_method" type="hidden" value="delete")
              input(class='btn btn-link' type='submit' value=t('views.labels.deleteLink'))
