extends ../layouts/application.pug

block content
  a.nav-link(role='link' href=route('newLabel'))=t('views.labels.newLink')
  table.table.table-striped
    thead
      tr
        th= t('entities.label.id')
        th= t('entities.label.name')
        th= t('entities.label.createdAt')
    tbody
      each label in labels
        tr
          td= label.id
          td= label.name
          td= formatDate(label.createdAt)
          td
            a(href=route('editLabel', { id: label.id }))=t('views.edit')
            +buttonTo(
              route('deleteLabel', { id: label.id }),
              'delete'
            )(class='btn btn-link' value=t('views.delete'))
