extends ../layouts/application.pug

block header
  = t('views.tasks.edit.header')

block content
  +formFor()(action=route('updateTask', { id: task.id }) method='post')
    input(name="_method" type="hidden" value="patch")
    +input(task, t('entities.name'), 'name', errors)(type="text")
    .form-group
      label(for="data_description")=t('entities.task.description')
      textarea(
        rows= '3'
        id="data_description"
        name="data[description]"
        class="form-control"
      )= task.description
    +select(t('entities.task.status'), 'status_id')
      each status in statuses
        - const isSelected = status.id === task.statusId;
        option(value=`${status.id}` selected=isSelected)= status.name
    +select(t('entities.task.owner'), 'owner_id')
      each user in users
        - const isSelected = user.id === task.ownerId;
        option(value=`${user.id}` selected=isSelected)= `${user.firstName} ${user.lastName}`
    +select(t('entities.task.labels'), 'label_ids')(multiple)
      each label in labels
        - const isSelected = labelIds.includes(label.id);
        option(value=label.id selected=isSelected)= label.name
    +submit()(value=t('views.edit'))
