extends ../layouts/application.pug

block content
  a.nav-link(role='link' href=route('newTask'))=t('views.tasks.newLink')
  form(action=route('tasks') method='get')
    - const config = { firstOptionEmpty: true };
    +select(statuses, t('entities.task.status'), 'status', query.statusId, config)(name='statusId')
    +select(users, t('entities.task.executor'), 'executor', query.executorId, config)(name='executorId')
    +select(labels, t('views.tasks.label'), 'label', query.labelId, config)(name='labelId')
    +checkbox(Boolean(query.creatorId), t('views.tasks.myTasks'), 'creatorId')
    +submit()(value=t('views.tasks.showFiltered'))
      a.btn.btn-primary.ml-2(role='button' href=route('tasks'))=t('views.tasks.clearFilters')
  table.table.table-striped
    thead
      tr
        th= t('entities.id')
        th= t('entities.name')
        th= t('entities.task.status')
        th= t('entities.task.creator')
        th= t('entities.task.executor')
        th= t('entities.createdAt')
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=route('taskProfile', { id: task.id }))= task.name
          td= task.status.name
          td= task.creator.name
          td= task.executor && task.executor.name
          td= formatDate(task.createdAt)
          td
            a(href=route('editTask', { id: task.id }))=t('views.edit')
            +buttonTo(
              route('deleteTask', { id: task.id }),
              'delete'
            )(class='btn btn-link' value=t('views.delete'))
