extends ../layouts/application.pug

block content
  a(class='btn btn-primary' role='button' href=route('newTask'))=t('views.tasks.newLink')
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.owner')
        th= t('views.tasks.createdAt')
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=route('taskProfile', { id: task.id }))= task.name
          td= task.statusName
          td= `${task.creatorFirstName} ${task.creatorLastName}`
          td= `${task.ownerFirstName || ''} ${task.ownerLastName || ''}`
          td= formatDate(task.createdAt)
          td
            a(href=route('editTask', { id: task.id }))=t('views.tasks.editLink')
            +formFor()(action=route('deleteTask', { id: task.id }) method="post")
              input(name="_method" type="hidden" value="delete")
              input(class='btn btn-link' type='submit' value=t('views.tasks.deleteLink'))
