extends ../layouts/application.pug

block content
  a.btn.btn-primary.mb-3(role='button' href=route('newTask'))=t('views.tasks.newLink')
  form(action=route('tasks') method='get')
    .form-group
      label(for="byStatusId")=t('entities.task.status')
      select(name='byStatusId').form-control#byStatusId 
        option
        each status in statuses
          - const isSelected = status.id.toString() === query.byStatusId;
          option(value=`${status.id}` selected=isSelected)= status.name
    .form-group
      label(for="byOwnerId")=t('entities.task.owner')
      select(name='byOwnerId').form-control#byOwnerId 
        option
        each user in users
          - const isSelected = user.id.toString() === query.byOwnerId;
          option(value=`${user.id}` selected=isSelected)= `${user.firstName} ${user.lastName}`
    //- .form-group
    //-   label(for="label_id")=t('views.tasks.labels')
    //-   select(name='label_id').form-control#label_id
    //-     option
    //-     each label in labels
    //-       - const isSelected = labelIds.includes(label.id);
    //-       option(value=label.id selected=isSelected)= label.name
    .form-group.form-check
      - const isSelected = Boolean(query.isCreatorUser);
      input#isCreatorUser.form-check-input(type='checkbox' name='isCreatorUser' value=creatorId checked=isSelected)
      label.form-check-label(for='isCreatorUser')= t('views.tasks.myTasks')
    .form-group
      input.btn.btn-primary.mx-3(type='submit' value=t('views.tasks.showFiltered'))
      a.btn.btn-primary(role='button' href=route('tasks'))=t('views.tasks.clearFilters')
  table.table.table-striped
    thead
      tr
        th= t('entities.id')
        th= t('entities.name')
        th= t('entities.task.status')
        th= t('entities.task.creator')
        th= t('entities.task.owner')
        th= t('entities.createdAt')
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=route('taskProfile', { id: task.id }))= task.name
          td= task.statusName
          td= `${task.creatorFirstName} ${task.creatorLastName}`
          td= `${task.ownerFirstName || ''} ${task.ownerLastName || ''}`
          td= formatDate(task.createdAt)
          td
            a(href=route('editTask', { id: task.id }))=t('views.edit')
            +formFor()(action=route('deleteTask', { id: task.id }) method="post")
              input(name="_method" type="hidden" value="delete")
              input(class='btn btn-link' type='submit' value=t('views.delete'))
