extends ../layouts/application.pug

block content
  a.btn.btn-primary.mb-3(role='button' href=route('newTask'))=t('views.tasks.newLink')
  form(action=route('tasks') method='get')
    - const options = { firstOptionEmpty: true };
    +select(statuses, t('entities.task.status'), 'status', shouldBeSelected(query.byStatusId), options)(name='byStatusId')
    +select(users, t('entities.task.owner'), 'executor', shouldBeSelected(query.byOwnerId), options)(name='byOwnerId')
    +select(labels, t('views.tasks.label'), 'label', shouldBeSelected(query.byLabelId), options)(name='byLabelId')
    .form-group.form-check
      - const isSelected = Boolean(query.byCreatorId);
      input#byCreatorId.form-check-input(type='checkbox' name='byCreatorId' value=creatorId checked=isSelected)
      label.form-check-label(for='byCreatorId')= t('views.tasks.myTasks')
    +submit()(value=t('views.tasks.showFiltered'))
      a.btn.btn-primary.ml-2(role='button' href=route('tasks'))=t('views.tasks.clearFilters')
  table.table.table-striped
    thead
      tr
        th= t('entities.id')
        th= t('entities.name')
        th= t('entities.task.status')
        th= t('entities.task.creator')
        th= t('entities.task.owner')
        th= t('entities.createdAt')
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=route('taskProfile', { id: task.id }))= task.name
          td= task.status.name
          td= task.creator.name
          td= task.owner && task.owner.name
          td= formatDate(task.createdAt)
          td
            a(href=route('editTask', { id: task.id }))=t('views.edit')
            +formFor()(action=route('deleteTask', { id: task.id }) method="post")
              input(name="_method" type="hidden" value="delete")
              input(class='btn btn-link' type='submit' value=t('views.delete'))
