extends ../layouts/application.pug

block header
  = t('views.tasks.new.header')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, t('entities.name'), 'name', errors)(type="text")
    .form-group
      label(for="data_description")=t('entities.task.description')
      textarea(
        rows= '3'
        id="data_description"
        name="data[description]"
        class="form-control"
      )= task.description
    +select(t('entities.task.status'), 'statusId')
      each status in statuses
        - const isSelected = status.id === task.status_id;
        option(value=`${status.id}` selected=isSelected)= status.name
    +select(t('entities.task.owner'), 'executorId')
      option
      each user in users
        - const isSelected = user.id === task.owner_id;
        option(value=`${user.id}` selected=isSelected)= `${user.firstName} ${user.lastName}`
    +select(t('entities.task.labels'), 'labels')(multiple)
      each label in labels
        - const isSelected = labelIds && labelIds.includes(label.id.toString());
        option(value=label.id selected=isSelected)= label.name
    +submit()(value=t('views.create'))
