extends ../layouts/application.pug

block header
  = t('views.tasks.new.header')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, t('entities.name'), 'name', errors)(type="text")
    .form-group
      label(for="data_description")=t('entities.task.description')
      textarea(
        rows= '3'
        id="data_description"
        name="data[description]"
        class="form-control"
      )= task.description
    +select(statuses, t('entities.task.status'), 'statusId', shouldBeSelected(task.status_id))
    +select(users, t('entities.task.owner'), 'executorId', shouldBeSelected(task.owner_id), { firstOptionEmpty: true })
    +select(labels, t('entities.task.labels'), 'labels', shouldBeSelected(labelIds))(multiple)
    +submit()(value=t('views.create'))
