extends ../layouts/application.pug

block header
  = t('views.tasks.new.header')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', errors)(type="text")
    .form-group
      label(for="data_description")=t('entities.task.description')
      textarea(
        rows= '3'
        id="data_description"
        name="data[description]"
        class="form-control"
      )= task.description
    +select(statuses, t('entities.task.status'), 'statusId', task.statusId, { firstOptionEmpty: true }, errors)
    +select(users, t('entities.task.executor'), 'executorId', task.executorId, { firstOptionEmpty: true })
    +select(labels, t('entities.task.labels'), 'labels', task.labels)(multiple)
    +submit()(value=t('views.create'))
